<?xml version="1.0"?>
<configuration>

    <appSettings>
        <add key="LogFolder" value="."></add>
        <add key="name" value="value"></add>
        <add key="name" value="value"></add>
        <add key="name" value="value"></add>
        <add key="name" value="value"></add>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>